* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    background-color: #6F6AF7;
}

.navbar .heading {
    font-family: 'Delius Unicase';
    margin-left: 30px;
    font-size: 45.43px;
    color: #FFFFFF;
}

.search__container {
    background-color: white;
    border-radius: 19px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.rem;
}

.search__container>input {
    border: none;
    outline: none;
}

.search__container>i {
    color: #ADADAD;
}

.navbar .nav {
    width: 100%;
    display: flex;
    list-style: none;
    font-family: 'DM Sans';
    text-decoration: none;
    font-size: 21.43px;
    margin-left: 70px;
    margin-top: 10px;
    color: #FFFFFF;
    text-align: center;
    float: left;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .sicon {
    margin-top: 8px;
    margin-right: 66px;
}

.navbar .micon {

    margin-top: 7px;
    width: 35px;
    height: 5px;
    background-color: #FFFFFF;

}

.container1 {
    display: flex;
}

.main__container {
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
}

.container1 .left img {
    margin-top: 150px;
    margin-left: 120px;
    width: 450px;
    height: 350px;
}

.container1 .right {
    border: #FFFFFF;
    background: #E5D8FF;
    border-radius: 15px;
    width: 650px;
    padding: 10px;
    margin-left: 100px;
    margin-top: 140px;
}

.container1 .right p {
    font-family: 'DM Sans';
    font-size: 20px;
    padding: 25px;
    color: #6F7373;
}

.social {
    display: flex;
    flex-direction: column;
    width: 10px;
    height: 250px;
    padding: 10px;
    margin-top: 130px;
    column-width: 2px;
    position: sticky;
    top: 50px;
    left: 1450px;
}


.container2 {
    display: flex;
    margin-top: 90px;
    height: 100px;
    border: #FFFFFF;
}

.c1 {
    margin-left: 80px;
    background: #929DFF;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c2 {
    margin-left: 130px;
    background: #734CF2;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c3 {
    margin-left: 130px;
    border: #FFFFFF;
    background: #D288FF;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c4 {
    margin-left: 130px;
    border: #FFFFFF;
    background: #000000;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 p {
    font-family: 'DM Sans';
    font-size: 19px;
    text-align: center;
    color: #FFFFFF;
}

.icon {
    position: fixed;
    right: 180px;
    top: 610px;
}

.s1 {
    position: absolute;
    margin-left: -50px;
    height: 125px;
    border: #FFFFFF;
}

.s2 {
    position: absolute;
    margin-top: 25px;
    height: 60px;
    margin-left: -20px;
}

.container3 {
    display: flex;
    background: #483EFF;
    padding: 50px;
    border-radius: 10px;
    margin-top: 140px;
    margin-bottom: 100px;
    margin-left: 80px;
    width: 1205px;
    height: 450px;
}

.container3 .left {
    font-family: 'DM Sans';
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 55px;
    width: 220px;
    font-size: 25px;
}

.b1 {

    background: #BCE0F6;
    border-radius: 10px;
    border: #483EFF;
    margin-top: 0px;
    padding: 30px;
    color: #000000;
}

.b2,
.b3 {

    border: 3px solid #FFFFFF;
    background: #483EFF;
    border-radius: 10px;
    color: #FFFFFF;
    margin-top: 83px;
    margin-bottom: 10px;
    padding: 30px;

}

.container3 .right {
    background: #FFFFFF;
    font-family: 'Roboto';
    border-radius: 20px;
    color: #04285A;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 200px;
    width: 700px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.details {
    line-height: 40px;
}

h2 {
    margin-left: 80px;
    font-size: 30px;
    padding: 20px;
}

b {
    margin-right: 10px;
}

.container3 .right p {
    margin-left: 120px;
    padding: 5px;
    font-size: 20px;

}

button {
    font-family: 'Roboto';
    font-size: 20px;
    background: #000000;
    border-radius: 5px;
    color: #fcfcfc;
    padding: 15px;
    width: 120px;
    display: flex;
    justify-content: center;
    margin-left: 500px;
    text-align: center;
    align-content: center;
}

.arrow {
    margin-left: 5px;
    width: 20px;
}

.whatsapp>img {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    padding: 0.5px;
    border-radius: 10px;
}

.facebook>img {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    padding: 0.5px;
    border-radius: 10px;
}

.twitter>img {
    height: 50px;
    width: 50px;
    padding: 0.5px;
    border: 2px solid black;
    border-radius: 10px;
}